.aPropos-image {
  width: 100%;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;
}

.collapse-container {
  padding-left: 50px;
  padding-right: 50px;
}

.collapse-header {
  font-size: 24px;
}
