// Collapse.scss
.collapse-container {
  margin: 25px 0;
  border-radius: 25px;
}

.collapse-header {
  padding: 10px 25px 10px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background-color: $primary;
  color: $white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;

  .arrow {
    transition: transform 0.3s ease;
  }

  .open {
    transform: rotate(180deg);
  }
}

.collapse-content {
  padding: 10px;
  background-color: $light-grey;
}
