// Collapse.scss
.collapse-container {
  margin: 20px 0;
  border-radius: 25px;
}

.collapse-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background-color: $primary;
  color: $white;

  .arrow {
    transition: transform 0.3s ease;
  }

  .open {
    transform: rotate(180deg);
  }
}

.collapse-content {
  padding: 10px;
  border-top: 1px solid #ccc;
}
